body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

.container {
  /* max-width: 1158px; */
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  /* padding: 0 15px; */
}

.header-box {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.contact-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.logo-header {
  color: #2e2f42;
}

.page-navigation .link {
  text-decoration: none;
  font-weight: 500;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover::after,
.link:focus::after,
.link.current::after {
  opacity: 1;
}

.link:hover,
.link:focus,
.contact:hover,
.contact:focus,
.link.current {
  color: #404bbf;
}

.style {
  font-style: normal;
}

.contact {
  text-decoration: none;
  color: #434455;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: 700;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
}

.section-title {
  background-color: rgb(46, 47, 66);
  /* padding-top: 188px;
    padding-bottom: 188px; */
  padding-top: 72px;
  padding-bottom: 72px;

  /* max-width: 1440px; */
  max-width: 767px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/goit-markup-hw-04/images/people-office.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-title {
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  text-align: center;
}

.page-btn {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  min-width: 169px;
  min-height: 56px;
  display: block;
  border: none;
  /* margin-top: 48px; */
  margin-top: 72px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-btn:hover,
.page-btn:focus {
  background-color: #404bbf;
}

.studio-hidden {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-box {
  /* padding-top: 120px;
    padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.box-icon {
  /* display: flex; */
  display: none;
  /* border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center; */
}

.studio-list {
  /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    */
  margin-bottom: 8px;
}

.text {
  font-weight: 500;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-item {
  /* margin-bottom: 72px; */

  /* flex-basis: calc((100% - 72px) / 4); */
}

/* .benefits-item:last-child {
    margin-bottom: 0;
} */

.section-team {
  background-color: rgb(244, 244, 253);
  /* padding-top: 120px;
    padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.studio {
  /* font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em; */
  min-width: 162px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  align-items: center;
  /* flex-basis: calc((100% - 72px) / 4); */
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-text {
  text-align: center;
  padding: 32px 0;
}

.studio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}

.section-team .text {
  text-align: center;
  font-weight: 400;
  color: #434455;
  margin-bottom: 8px;
}

.soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon {
  fill: #f4f4fd;
}

.soc-link:hover,
.soc-link:focus {
  background-color: #404bbf;
}

.studio-portfolio {
  /* padding-top: 120px;
    padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list {
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
  /* flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; */
}

.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  flex-shrink: 0;
  /* max-width: 360px; */
  max-width: 288px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .post-text {
  transform: translateY(0);
}

.portfolio-text {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.studio-list-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-text .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.post-box {
  position: relative;
  overflow: hidden;
}

.post-text {
  position: absolute;
  top: 0;
  height: 100%;

  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer {
  background-color: rgb(46, 47, 66);
}

.logo .logo-footer {
  color: #f4f4fd;
}

.logo-type {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-right: 0;
}

.text-footer {
  color: #f4f4fd;
  /* max-width: 264px; */
  max-width: 288px;
  margin-bottom: 72px;
  text-align: left;
}

.page-footer {
  /* padding-top: 100px;
    padding-bottom: 100px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  /* display: flex;
    align-items: baseline; */
}

.logo-container {
  /* margin-right: 120px; */
}

.social-media {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.soc-footer-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 72px;
}

.soc-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 50%;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-footer-icon {
  fill: #f4f4fd;
}

.soc-footer-link:hover,
.soc-footer-link:focus {
  background-color: #31d0aa;
}

.footer-form-field {
  margin-left: auto;
}

.footer-form-title {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-form {
  display: flex;
  /* gap: 24px; */
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-input {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  height: 40px;
  width: 264px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: #31d0aa;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  min-width: 165px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  padding: 8px 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}

.footer-btn-icon {
  fill: #fff;
  margin-left: 16px;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-height: 584px;
  width: 408px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-field {
  margin-bottom: 16px;
}

.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  resize: none;
  display: block;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-area {
  margin-bottom: 24px;
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #404bbf;
}

.modal-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.modal-check-text {
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-size: 12px;
  display: block;
  a {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.modal-check:checked + .modal-check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

.modal-submit {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #4d5ae5;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .section-title {
    max-width: 1157px;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .page-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .page-btn {
    margin-top: 36px;
  }

  .benefits-list {
    column-gap: 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .studio-benefits {
    text-align: left;
  }

  .team-list {
    column-gap: 24px;
  }

  .portfolio-list {
    gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .logo-container {
    margin-right: 24px;
  }

  .logo-type {
    justify-content: flex-start;
  }

  .text-footer {
    max-width: 264px;
  }

  .page-footer {
    padding-left: 108px;
  }

  .social-media {
    text-align: left;
  }

  .footer-form-field {
    margin-left: 0;
  }

  .footer-form {
    gap: 24px;
  }

  .footer-form-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }

  .section-title {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .page-btn {
    margin-top: 48px;
  }

  .benefits-box {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .box-icon {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
  }

  .studio-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text {
    font-weight: 400;
  }

  .benefits-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .card {
    flex-basis: calc((100% - 72px) / 4);
  }

  .studio-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    max-width: 360px;
  }

  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
  }

  .text-footer {
    margin-bottom: 0;
  }

  .logo-container {
    margin-right: 120px;
  }

  .soc-footer-box {
    margin-right: 80px;
  }
}
